<style>
  .card-container {
    margin-top: 20px;
  }

  .card-header {

    background-color: blue;
    color: white;
  }
</style>
<div class="card-container">
  
  <div class="card">
  <div class="card-header">
    Parts
  </div>
  <div class="card-body">
<%= form_with(model: work_order) do |form| %>
  <% if work_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_order.errors.count, "error") %> prohibited this work_order from being saved:</h2>

      <ul>
        <% work_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :issue %>
    <%= form.text_field :issue, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :line %>
    <%= form.text_field :line, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :machine %>
    <%= form.text_field :machine, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :type %>
    <%= form.text_field :type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :request_date_time %>
    <%= form.text_field :request_date_time, class: "form-control flatpickr" %>
  </div>

  <div class="form-group">
    <%= form.label :level_of_issue %>
    <%= form.text_field :level_of_issue, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :requested_by %>
    <%= form.text_field :requested_by, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description_of_issue %>
    <%= form.text_field :description_of_issue, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :planned_date_and_time %>
    <%= form.text_field :planned_date_and_time, class: "form-control flatpickr" %>
  </div>

  <div class="form-group">
    <%= form.label :complete_date_and_time %>
    <%= form.text_field :complete_date_and_time, class: "form-control flatpickr" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
</div>
