<p id="notice"><%= notice %></p>

<h1>Work Orders</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Issue</th>
      <th>Line</th>
      <th>Machine</th>
      <th>Type</th>
      <th>Request date time</th>
      <th>Level of issue</th>
      <th>Requested by</th>
      <th>Email</th>
      <th>Description of issue</th>
      <th>Planned date and time</th>
      <th>Complete date and time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= work_order.location %></td>
        <td><%= work_order.issue %></td>
        <td><%= work_order.line %></td>
        <td><%= work_order.machine %></td>
        <td><%= work_order.type %></td>
        <td><%= work_order.request_date_time %></td>
        <td><%= work_order.level_of_issue %></td>
        <td><%= work_order.requested_by %></td>
        <td><%= work_order.email %></td>
        <td><%= work_order.description_of_issue %></td>
        <td><%= work_order.planned_date_and_time %></td>
        <td><%= work_order.complete_date_and_time %></td>
        <td><%= link_to 'Show', work_order %></td>
        <td><%= link_to 'Edit', edit_work_order_path(work_order) %></td>
        <td><%= link_to 'Destroy', work_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Order', new_work_order_path %>
